.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(14,104,102),0 0.015em rgb(14,104,102),0.015em 0 rgb(14,104,102),0 -0.015em  rgb(14,104,102);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(14,104,102);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:74.600000px;}
.fc1{color:rgb(68,84,106);}
.fc0{color:rgb(14,104,102);}
.fs2{font-size:44.000000px;}
.fs1{font-size:64.000000px;}
.fs0{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.yd{bottom:165.684708px;}
.yc{bottom:184.884705px;}
.yb{bottom:204.084702px;}
.ya{bottom:223.284698px;}
.y9{bottom:263.814697px;}
.y8{bottom:283.014702px;}
.y7{bottom:302.214706px;}
.y6{bottom:321.414711px;}
.y5{bottom:340.614716px;}
.y4{bottom:381.144716px;}
.y3{bottom:416.784164px;}
.y2{bottom:435.984163px;}
.y1{bottom:473.511904px;}
.h3{height:45.812500px;}
.h2{height:46.593750px;}
.h1{height:108.000000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:313.825256px;}
.x3{left:318.256821px;}
.x2{left:338.698227px;}
.x5{left:341.562408px;}
.x4{left:344.406174px;}
.x6{left:349.390533px;}
.x7{left:365.828033px;}
.x8{left:374.726471px;}
.xa{left:392.081940px;}
.x9{left:427.660072px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:99.466667pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:85.333333pt;}
.fs0{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.yd{bottom:220.912944pt;}
.yc{bottom:246.512939pt;}
.yb{bottom:272.112935pt;}
.ya{bottom:297.712931pt;}
.y9{bottom:351.752930pt;}
.y8{bottom:377.352936pt;}
.y7{bottom:402.952942pt;}
.y6{bottom:428.552948pt;}
.y5{bottom:454.152954pt;}
.y4{bottom:508.192955pt;}
.y3{bottom:555.712219pt;}
.y2{bottom:581.312218pt;}
.y1{bottom:631.349205pt;}
.h3{height:61.083333pt;}
.h2{height:62.125000pt;}
.h1{height:144.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1{left:418.433675pt;}
.x3{left:424.342428pt;}
.x2{left:451.597636pt;}
.x5{left:455.416545pt;}
.x4{left:459.208232pt;}
.x6{left:465.854045pt;}
.x7{left:487.770711pt;}
.x8{left:499.635295pt;}
.xa{left:522.775920pt;}
.x9{left:570.213430pt;}
}
